.program-category-container{padding: 5px 15px 15px 15px;}
.add-program-category-component-holder{
  border: 1px solid #327ebd;
  background-color: white;
}
.background-primary{
  float: right !important;
  margin: 1em 2em 1em 0;
}
.full-width{
  width: 98%;
  margin: 0 1%;
}
