.half-width{
  width: 48%;
  margin: 0 1%;
}
.full-width{
  width: 98%;
  margin: 0 1%;
}
.add-program-component-holder{
  border: 1px solid #327ebd;
  background-color: white;
}
.add-program-container{padding: 5px 15px 15px 15px;}
.background-primary{
  float: right !important;
  margin: 1em 0;
  margin-right: 2em;
}
