.program-header {
    background-color: #fff;
    color: #212121;
    padding: 0 5px;
}
.close-button{
    top: -2em;
    right: -1.5em;
}
.half-width{
    width: 48%;
    margin: 0 1%;
  }
.full-width{
    width: 98%;
    margin: 0 1%;
}
.one-third-width{
    width: 31.3%;
    margin: 0 1%;
}
.background-primary{
    float: right !important;
    margin: 1em 0;
    margin-right: 2em;
}