<div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
  <div fxFlex class="add-project-component-holder mat-elevation-z4">
    <mat-toolbar class="program-header">
      <h1 class="mat-headline center-align">Add New Project</h1>
    </mat-toolbar>
    <div class="add-project-container">
      <form novalidate #addproject="ngForm">
        <p>
          <mat-form-field class="half-width" *ngIf="categories">
            <mat-select name="program" ngModel required placeholder="program">
              <mat-optgroup  *ngFor="let category of categories" [label]="category.name">
                <mat-option *ngFor="let program of category.programs" [value]="program.id">
                  {{program.name}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="half-width" *ngIf="project_categories[0]">
            <mat-select name="category" ngModel required placeholder="Project Category">
              <mat-option *ngFor="let category of project_categories" [value]="category.id">{{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button *ngIf="!project_categories[0]" mat-raised-button color="primary" class="program-button" routerLink="/auth/master-modules/project/add-category" fxFlexAlign="center end">
            <mat-icon iconsmall>add</mat-icon>
            Project category
          </button>
        </p>
        <p>
          <mat-form-field class="one-third-width">
            <mat-select name="cluster" ngModel required placeholder="Select cluster">
              <mat-option *ngFor="let cluster of clusters" [value]="cluster.id">{{cluster.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button type="button"  class="program-button" mat-raised-button color="primary" (click)="openClusterForm()">
            <mat-icon iconsmall>add</mat-icon>
            cluster
          </button>
          <button class="program-button" mat-raised-button color="primary">
            <mat-icon iconsmall>add</mat-icon>
            kebele
          </button>
        </p>
        <p>
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [ngStyle]="{ 'height': height }">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </p>
        <p>
          <mat-form-field class="half-width">
            <mat-select name="manager1" ngModel required placeholder="Project Manager">
              <mat-option *ngFor= "let user of users" [value]="user.id">
                {{user.name}}
                ( {{user.email}} ) 
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="half-width">
            <mat-select name="manager2" ngModel  placeholder="Project Manager">
              <mat-option *ngFor= "let user of users" [value]="user.id">
                {{user.name}}
                ( {{user.email}} ) 
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="half-width">
            <mat-select name="implementer" ngModel placeholder="select implementer/s" multiple required>
              <mat-option *ngFor="let implementer of implementers" [value]="implementer.id">
                {{implementer.name}}
              </mat-option>>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="half-width">
            <mat-select name="beneficary" ngModel placeholder="select beneficary/ies" multiple required>
              <mat-option *ngFor="let beneficary of beneficaries" [value]="beneficary.id">
                {{beneficary.name}}
              </mat-option>>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput type="number" name="budget" ngModel placeholder="total project budget in USD" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Project Goal" rows=4></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Project Objective" rows=4></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Project Description" rows=4></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-label>Reporting Time Line</mat-label>
          <mat-checkbox color="primary">Quarterly</mat-checkbox>
          <mat-checkbox color="primary">Biannual</mat-checkbox>
          <mat-checkbox color="primary">Annual</mat-checkbox>
          <mat-checkbox color="primary">Final</mat-checkbox>
        </p>
        <button mat-raised-button color="primary" type="submit" mat-button class="background-primary text-floral-white" [disabled]="addproject.form.invalid">
          <mat-icon iconsmall>save</mat-icon>
          Save
        </button>
      </form>
    </div>
  </div>
</div>

