.add-project-container{
  padding: 5px 15px 15px 15px;

}
.add-project-component-holder{
  border: 1px solid #327ebd;
  background-color: white;
  margin-bottom: 5em;
}
.half-width{
  width: 48%;
  margin: 0 1%;
}
.full-width{
  width: 98%;
  margin: 0 1%;
}
.one-third-width{
  width: 31.3%;
  margin: 0 1%;
}
mat-label{
  margin:0 1em;
}
mat-checkbox{
  margin-right: 1em;
}
.background-primary{
  float: right !important;
  margin: 1em 0;
  margin-right: 2em;
}
.program-button{
  margin: 0 0.5em;
}